<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon name="checkmark-done"></ion-icon>
      <ion-label>Tâches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Recettes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
