ion-tab-bar {
  border-top: 1px solid var(--ion-color-light-shade);
  
  ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary-shade);
    
    ion-icon {
      font-size: 24px;
    }
    
    ion-label {
      font-size: 12px;
      margin-top: 4px;
    }
    
    &.tab-selected {
      ion-icon,
      ion-label {
        color: var(--ion-color-primary);
        font-weight: 600;
      }
    }
  }
}
